@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap");

:root {
    --slide-ratio: 56.25%;
}

.slide-ratio:before {
    padding-bottom: var(--slide-ratio);

}


/* **********
 Common Aspect Ratios

ratio 16:9  padding-bottom: 56.25%
ratio 1:1   padding-bottom: 100%;
ratio 2:1   padding-bottom: 50%;
ratio 2:3   padding-bottom: 150%;
ratio 3:2   padding-bottom: 66.66667%;
ratio 3:4   padding-bottom: 133.33333%;
ratio 4:3    padding-bottom: 75%;


******** */

.story-slide{
    margin-left: 10px;
}

.slide-ratio {
    position: relative;
    display: block;
    overflow: hidden;
}

.slide-ratio::before {
    display: block;
    width: 100%;
    content: "";
}


.slide-ratio img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

/*  SLICK IMAGE SLIDER  */

/* Position Slick dots container down some so
     controls are positioned under slider
*/


/* Add bottom margin to slideshow slide 
    to push arrows and dots down some */
.image-slideshow-slide {
    margin-bottom: 50px;
}

/* Hide defualt slick prev - next text
   Still accessible.
*/
.story-slideshow .slick-arrow {
    font-size: 1px !important;
    color: transparent;
}

.story-slideshow .slick-arrow {
    position: absolute;
    background: #3c3b6e;
    opacity: 0.7;
    bottom: -25px;
    z-index: 1;
    transform: translateY(-50%);
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #fff;
    border-radius: 0%;
    cursor: pointer;
    outline: none;
    transition: 0.25s;
}

.story-slideshow .slick-arrow:hover,
.image-slideshow .slick-arrow:focus {
    border-color: white;
    color: #B22234;
    background: #B22234;
    opacity: 0.95;
}

.story-slideshow .slick-arrow:active {
    transform: translateY(-50%) scale(0.9);
}

.story-slide a {
    color: white;
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;


}

.story-slide a:hover {
    background: rgb(206, 21, 67);
}

.slide-text-overlay {
    padding: 5vw;


}

.story-slide figcaption {
    background: #f02727;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 110px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.slide-caption span {
    padding: 20px;
    color: #fff;
}

.story-slide-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.story-slide-overlay h6 {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.60);
}

@media (max-width: 980px) {

    .story-slide-overlay h2 {
        font-size: 20px;
    }

    .story-slide a {
        font-size: 15px;
        letter-spacing: 0px;
        padding: 5px;
        margin-top: 8px;

        text-align: center;
    }

    .story-slide figcaption {
        background: #292929;
        font-size: 12px;
        padding: 20px;
        display: inherit;
        text-align: center;
    }

}




/* Page Stuff   */


.container {
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;

}

ul,
li {
    margin: 0;
    padding: 0;
}




/* Re-set hacks */
figure {
    margin: 0;
    padding: 0;
}


ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.slider_btns{
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '•';
    font-size: 22px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
}